@alipay:registry=http://registry.npm.alibaba-inc.com
registry=https://registry.npmmirror.com/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
electron_mirror=https://npmmirror.com/mirrors/electron/
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas/

node-linker=hoisted
git-checks=false
