.code-preview {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  .code-preview-source {
    flex: 1;
    margin: 0;
    max-height: 400px;
  }
  .code-preview-demo{
    flex: 1;
    background-color: #eee;
  }
}